
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .icon{
    @apply hidden xl:inline-flex p-2 h-10 w-10 bg-gray-200 rounded-full text-gray-700
    cursor-pointer hover:bg-gray-300;
  }
}

.flex__center {
  display: flex;
  flex-direction: column;
}
.news__text{
  text-align: center;
}
.news__link{
  text-align: center;
  text-decoration: underline;
}
.flex__center h2{
  text-align: center;
}
.flex__center {
  display: flex;
  flex-direction: column;
}

.sidebar{
  width: 20rem;
  background-color: red;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  ;
    
}
.cards__item {
  display: flex;
  padding: 1rem;
  width: 25%;
}
.cards__itemB {
  display: flex;
  height: 27rem;
  flex-direction: column;
  padding:1rem;
  width: 20rem;
  border:2px solid black;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
 
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);
}

.card__image:hover {
  filter: contrast(100%);
}


.card__title {
  color: #264671;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__titleB {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text,
.card__detail p {
  color: #696969;
  font-family: Georgia, 'Times New Roman', Times, serif;
  flex: 1 1 auto;
  font-size: 1 rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.card__detail3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card__detail p {
  text-align: center;
}

.card__detail button {
  text-align: center;
}
.emoji-button {
  border: none;
  background: none;
  padding: 0 0.25rem;
  cursor: pointer;
}

.emoji-button.favorite {
  color: transparent;
  text-shadow: 0 0 0 gray;
}

.emoji-button.favorite.active,
.emoji-button.favorite:hover {
  text-shadow: 0 0 0 gold;
  cursor: pointer;
}

.emoji-button.delete:hover {
  text-shadow: 0 0 0 firebrick;
  cursor: pointer;
}

.cards3 {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.card3{
  margin: 1rem;
  box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
}

.card .image3 {
  height: 225px;
  position: relative;
  width: 300px;
  display: flex;
  justify-content: center;
}

.card3 .image .price3 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.25rem;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-right-radius: 5px;
  background: white;
}

.card .image3 img {
  max-width: 300px;
  max-height: 225px;
  width: auto;
  height: auto;
}

.card .details3 {
  padding: 0.5rem;
}

.card .details3 strong {
  font-family: serif;
  font-size: 1rem;
}


/* Add Frined Form  */

.friend-title{
  color: rgb(59, 130, 246);
  padding: .25rem 2rem;
  position: absolute;
  top: 11rem;
  border-bottom: 2px solid black;
  font-size: 3rem;;
}

.main-container{
  width: 100%;
  height: 610px;
  display: flex;
  justify-content: center;
}

.form-container{
  width: 43%;
  height: 400px;
  margin: auto;
  margin-top: 10%;
  background: rgba(255, 255, 255, 0.38);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(70, 66, 66, 0.51);
  display: flex;
  justify-content: center;
  align-items: center;
}

.input{
  width: 550px;
  height: 40px;
  color: #000;
  background: rgba(255, 255, 255, 0.1);
  margin: 3% 0% 3% 0%;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(59, 130, 246);
}

.btn-container{
  width: 100%;
  height: 50px;
  text-align: center;
}
/*Add Friend Form */


/* Ban */
  .main-ban{
    width: 100%;
    height: auto;
    min-height: 700px;
    padding: 0rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url('/giphy.gif');
    background-repeat: no-repeat;
    background-size:cover ;
    gap:20px;
  }

  .ban-card{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
/* Ban */

/* News */

.main-news{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.news-cont{
  width: 90%;
  min-height: 300px;
  height: auto;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(59, 130, 246);
  transition: .5s;
}

.news-cont:hover{
  transform: scale(1.1);
}

.news-image{
  width: 150px;
 aspect-ratio: 1 / 1;
  border-radius: 50%;
}

/* News */

